<%= form_with(model: reference_range, url: biomarker_reference_ranges_path, method: :post ) do |form| %>
  <% if reference_range.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reference_range.errors.count, "error") %> prohibited this reference_range from being saved:</h2>

      <ul>
        <% reference_range.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :min_value, style: "display: block" %>
    <%= form.text_field :min_value %>
  </div>

  <div>
    <%= form.label :max_value, style: "display: block" %>
    <%= form.text_field :max_value %>
  </div>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.text_field :unit %>
  </div>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.text_field :source %>
  </div>

  <div>
    <%= form.submit class: "tw-my-4 tw-bg-blue-500  tw-hover:bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded" %>
  </div>
<% end %>
