<div id="<%= dom_id reference_range %>">
  <p>
    <strong>Biomarker:</strong>
    <%= reference_range.biomarker_id %>
  </p>

  <p>
    <strong>Min value:</strong>
    <%= reference_range.min_value %>
  </p>

  <p>
    <strong>Max value:</strong>
    <%= reference_range.max_value %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= reference_range.unit %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= reference_range.source %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= reference_range.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= reference_range.updated_at %>
  </p>

</div>
