<div id="<%= dom_id lab_test %>" class="tw-border-double tw-shadow-lg tw-ring-4 tw-rounded-lg">
  <div class="tw-m-8 tw-py-4">

    <p class="tw-pt-2 tw-pr-6">
      <strong>Biomarker Name:</strong>
      <%= lab_test.biomarker.name %>
    </p>

    <p class="tw-pt-2 tw-pr-6">
      <strong>Value:</strong>
      <%= format_biomarker_value(lab_test.value, lab_test.unit) %>
    </p>

    <p class="tw-pt-2 tw-pr-6">
      <strong>Reference range:</strong>
      <%= format_reference_range(lab_test.reference_range.min_value, lab_test.reference_range.max_value, lab_test.reference_range.unit) %>
    </p>

    <p class="tw-pt-2 tw-pr-6">
      <strong>Notes:</strong>
      <%= lab_test.notes %>
    </p>

    <p class="tw-pt-2 tw-pr-6">
      <strong>Created at:</strong>
      <%= format_date_with_time lab_test.created_at %>
    </p>

    <p class="tw-pt-2 tw-pr-6">
      <strong>Updated at:</strong>
      <%= format_date_with_time lab_test.updated_at %>
    </p>

  </div>

</div>
