<tr id="<%= dom_id biomarker %>" class="tw-bg-white tw-border-b tw-bg-white tw-border-gray-300 tw-hover:bg-gray-700 tw-text-center">
  <th scope="row" class="tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-whitespace-nowrap tw-dark:tw-text-white">
    <%= biomarker.name %>
  </th>
  <td class="tw-px-6 tw-py-4">
    <%= format_date_with_time biomarker.created_at %>
  </td>
  <td class="tw-px-6 tw-py-4">
    <%= format_date_with_time biomarker.updated_at %>
  </td>
  <td class="tw-px-6 tw-py-4 tw-text-center">
    <%= link_to "Show details", biomarker, class: "tw-font-medium tw-text-blue-600 tw-dark:tw-text-blue-500 tw-hover:tw-underline" %>
  </td>
</tr>