<%= form_with(model: biomarker) do |form| %>
  <% if biomarker.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(biomarker.errors.count, "error") %> prohibited this biomarker from being saved:</h2>

      <ul>
        <% biomarker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  -----------------------------------------------

  <p>
    <strong>Reference ranges:</strong>
  </p>

  <%= render "reference_ranges_form", form: form %>

  <div>
    <%= form.submit class: "tw-my-4 tw-bg-blue-500  tw-hover:bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded" %>
  </div>
<% end %>
