<div id="<%= dom_id measurement %>" class="tw-border-double tw-shadow-lg tw-ring-4 tw-rounded-lg">
  <div class="tw-m-8">

    <p class="tw-pt-2 tw-pr-6">
        <strong>User:</strong>
        <%= measurement.user.full_name %>
      </p>

    <p class="tw-pt-2 tw-pr-6">
        <strong>Type:</strong>
        <%= measurement.measurement_type %>
      </p>

    <p class="tw-pt-2 tw-pr-6">
        <strong>Value:</strong>
        <%= "#{measurement.value} #{measurement.unit}" %>
      </p>

    <p class="tw-pt-2 tw-pr-6">
        <strong>source:</strong>
        <%= measurement.source %>
      </p>

    <p class="tw-pt-2 tw-pr-6">
        <strong>Notes:</strong>
        <%= measurement.notes %>
      </p>

    <p class="tw-pt-2 tw-pr-6">
        <strong>Created at:</strong>
        <%= format_date_with_time measurement.created_at %>
      </p>

    <p class="tw-pt-2 tw-pr-6">
        <strong>Updated at:</strong>
        <%= format_date_with_time measurement.updated_at %>
      </p>

      <% if policy(measurement).destroy? %>
        <%= button_to "Remove this Measurement", measurement, method: :delete, class: "tw-mb-6 tw-bg-red-500 tw-hover:bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded" %>
      <% end %>

  </div>

</div>
